


@using BookStore.Models;
@model List<SAch>

<h1 class="item-header">Sách Mới</h1>


@{
    foreach (var item in Model)
    {
<div class="activity-list-update">
    <a href="@Url.Action("xemChiTiet","Sach",new {@maSach = item.MaSach })"> <img title="@item.TenSach" src="@Url.Content("~/imgSP/" + item.AnhBia)" widht="75" height="75" alt="Image"> </a>
    @if (item.TenSach.Length > 35)
    {
        <p title="@item.TenSach" style="font-size: 20px;"><strong>@item.TenSach.Substring(0, 35)</strong><br /><a href="@Url.Action("xemChiTiet",new {@maSach = item.MaSach })"><span style="font-size: 15px;">Xem chi tiết</span></a>...</p>

    }
    else
    {
        <p title="@item.TenSach" style="font-size: 20px;"><strong>@item.TenSach</strong><br /><a href="@Url.Action("xemChiTiet",new {@maSach = item.MaSach })"><span style="font-size: 15px;">Xem chi tiết</span></a>...</p>
        <div class="clear"></div>
    }

</div>
    }
}

<a href="@Url.Action("hienThiSachMoi")" class="item-footer green">
    Sách loại mới nhất
</a>