

@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BookStore.Models.NhaXuatBan>
@{
    ViewBag.Title = "KetQuaTimKiemNXB";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<hr style="padding:0;margin:0;border:none;background-color:black;" />
<div id="sachMoiXuatBan" style="clear:both;padding:13px 0px 0px 0px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;margin-left:90px;background-color:white;background:white">
    <h2>Kết quả tìm kiếm: </h2>
    @ViewBag.ThongBao
</div>
<br />
@using (Html.BeginForm("KetQuaTimKiemNXB", "TimKiem", FormMethod.Post))
{
    @Html.TextBox("txtTimKiem", "", htmlAttributes:
new {@class="textboxTimKiem",@placeholder="Nhập tên nhà xuất bản cần tìm....." })
    <button type="submit" style="padding: 0px 0px 0px 0px">
        <img src="~/img/search1.png" width="30px" height="30px" />
    </button>

}
<hr />
<table class="table" style="clear:both">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenNXB)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNXB)
            </td>
            <td>
                <a href="@Url.Action("ChinhSuaNXB","QuanLySanPham", new { @MaNXB = item.MaNXB }) ">Chỉnh sửa</a>


            </td>
        </tr>
    }
</table>

<div id="PhanTrang">
    <div class="abc">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    </div>

    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiemNXB", "TimKiem", new { @page = page, sTuKhoa = ViewBag.TuKhoa }))
    </div>

</div>

<style>
    .MenuTrang li {
        padding: 0;
        margin: 0;
        border: none;
        display: inline;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
        line-height: 45px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    #PhanTrang {
        border-bottom: 1px solid #C9E4D6;
    }

    .abc {
        margin-left: 35px;
        margin-top: 5px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    #divBody .editBtn button:hover {
    }
</style>


